.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.label {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 10px;
  fill: #333;
}